<head>
    <title>Hi! Let's draw sth</title>

    <!-- CSS and javascript -->
    <link rel="stylesheet" type="text/css" href="style.css">

</head>

<body>

    <table style="width:100%; table-layout:fixed ;" border="0" cellpadding="0">
        <tr>
            <td width="1250">
                <canvas id="myCanvas" width="1200px" height="550px">
                    Sorry, your browser doesn't support the &lt;canvas&gt; element.
                </canvas>
                <textarea name="textBox" id="textBox" cols="15" rows="2" class="text-style"></textarea>
            </td>
            <td valign="top">
                <canvas id="colorCanvas" class="color-canvas" width="250" height="250"></canvas>
                <div id="cuxiValue" class="text">Brush size: 3</div>
                <input type="range" class="Bar" id="cuxiBar" value="3" min="1" max="50">
                <div id="textValue" class="text">Text size: 20</div>
                <input type="range" class="Bar" id="textBar" value="20" min="10" max="120">
                <br><br>
                <div class="text">Text font:</div>
                <select class="Bar" id="font">
                    <option value="Consolas">Consolas</option>
                    <option value="Arial">Arial</option>
                    <option value="Calibri">Calibri</option>
                    <option value="Microsoft JhengHei UI">Microsoft JhengHei UI</option>
                    <option value="標楷體">標楷體</option>
                    <option value="新細明體">新細明體好棒棒</option>
                    <option value="微軟正黑體">微軟正黑體</option>
                </select>
            </td>

        </tr>
    </table>
    <!-- Canvas -->


    <table style="width:100%; table-layout:fixed ;" border="0" cellpadding="0">
        <tr>
            <td><button type="button" class="btn" onclick="clickBrush('pencil')"   ><img src="img/tool_pencil.png"></button></td>
            <td><button type="button" class="btn" onclick="clickBrush('eraser')"   ><img src="img/tool_eraser.png"></button></td>
            <td><button type="button" class="btn" onclick="clickBrush('straight')" ><img src="img/tool_straight.png"></button></td>
            <td><button type="button" class="btn" onclick="clickBrush('rectangle')"><img src="img/tool_rectangle.png"></button></td>
            <td><button type="button" class="btn" onclick="clickBrush('triangle')" ><img src="img/tool_triangle.png"></button></td>
            <td><button type="button" class="btn" onclick="clickBrush('circle')"   ><img src="img/tool_circle.png"></button></td>
            <td><button type="button" class="btn" onclick="clickBrush('text')"><img src="img/tool_text.png"></button></td>
            <td><button type="button" class="btn" onclick="reNundo('undo')"><img src="img/tool_undo.png"></button></td>
            <td><button type="button" class="btn" onclick="reNundo('redo')"><img src="img/tool_redo.png"></button></td>
            <td><label><input id="uploadImg" style="display:none;" type="file"><img src="img/tool_upload.png"></label></td>
            <td><button type="button" class="btn" onclick="downloadImg()"><img src="img/tool_download.png"></button></td>
            <td><button type="button" class="btn" onclick="clearCanvas(1)"><img src="img/tool_clear.png"></button></td>
        </tr>
    </table>

    <script src="index.js"></script>
</body>