body{
    background-color:rgb(126, 183, 220);
}

#myCanvas{
    background-color:rgba(255, 255, 255, 100);
    border-radius:10px;
    border: 10px dashed rgb(255, 255, 0);
    margin: 0%auto;
}

#colorCanvas{
    background-color:rgba(255, 255, 255, 0);
    border-radius:10px;
    border: 5px dashed rgb(255, 255, 0);
    margin: 0%auto;
    position: relative;
    right: 15px;
}

.Bar{
    position: relative;
    top: 50px;
    right: 15px;
    width: 250px;
}

.text{
    position: relative;
    top: 50px;
    right: 15px;
    font: 16px Microsoft JhengHei UI;
}

.btn{
    margin: 10%auto;
    border: 0;
    background: rgba(0, 0, 0, 0);
    transition: background 0.3s;
    box-shadow: none;
}

.text-style {
    border: 0px;
    float: left;
    position: absolute;
    font: 28px orbitron;
    word-break: break-all;
    background-color: transparent;
    resize: none;
    z-index: 1;
}
